.about {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(145deg, #f8f9fa, #e0e0e0);
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  font-family: 'Arial', sans-serif;
  transition: transform 0.3s ease-in-out;
}

.about:hover {
  transform: translateY(-5px);
}

.about h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #343a40;
  border-bottom: 3px solid #007bff;
  display: inline-block;
  padding-bottom: 10px;
  transition: color 0.3s ease-in-out;
}

.about h1:hover {
  color: #0056b3;
}

.about-section {
  margin-bottom: 40px;
  background: #e7f3bc;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* @property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
} */

/* .about-section::after, .about-section::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle),(red,blue,yellow));
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 3px;
  border-radius: 10px;
} */

.about-section:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.about-section h2 {
  font-size: 1.8em;
  color: #007bff;
  margin-bottom: 10px;
  transition: color 0.3s ease-in-out;
}

.about-section h2:hover {
  color: #7db300;
}

.about-section p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #495057;
  margin-bottom: 20px;
}

.about-section ul {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
}

.about-section ul li {
  font-size: 1.1em;
  color: #495057;
  margin-bottom: 5px;
  padding-left: 20px;
  position: relative;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.about-section ul li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #007bff;
  transition: color 0.3s ease-in-out;
}

.about-section ul li:hover {
  color: #ff7300;
  transform: translateX(5px);
}

@media (max-width: 600px) {
  .about {
      padding: 15px;
  }

  .about h1 {
      font-size: 2em;
  }

  .about-section h2 {
      font-size: 1.5em;
  }

  .about-section p, .about-section ul li {
      font-size: 1em;
  }
}

/* .card{
  margin:0 auto;
  padding: 2em;width: 300px;
  background: #1c1f2b;
  text-align: center;
  border-radius: 10px;
} */