/* Contact.css */

.contact-page {
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9; /* Light background color */
}

.contact-info {
  margin-bottom: 20px;
}

.contact-info h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: #0056b3 2px solid;
  display: inline-block;
  padding-bottom: 10px;

}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  background: #fff;
  padding: 15px;
  border-radius: 30px;
  box-shadow: 0 6px 40px rgba(0, 0, 0, 0.1);
}

.info-item .icon {
  font-size: 24px;
  color: #007bff;
  margin-right: 15px;
}

.info-item .info-text h3 {
  margin: 0;
  color: #333;
}

.info-item .info-text p {
  margin: 5px 0 0;
  color: #555;
}

.contact-form {
  margin-bottom: 20px;
}

.contact-form h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

.contact-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #0056b3;
}

.map {
  margin-top: 20px;
}

.map h2 {
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}

.map iframe {
  border: none;
  border-radius: 8px;
}
